.bunnyHole {
    align-items: stretch;
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    font-family: "Helvetica", "Trebuchet MS", sans-serif;
    gap: 0px 0px;
    justify-content: flex-start;
}

.bunnyHole > .nestMarker {
    border-color: #000000;
    border-left: 2px dotted;
    width: 0px;
    margin: 0px 5px 5px 0px;
    /* height: 100%; */
}

.bunnyHole > .nestMarker.dragTarget {
    border-left: 8px dashed;
    border-color: #0000ff;
}

.bunnyHole > .content {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0px 0px;
    justify-content: flex-start;
}

.bunnyNode {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    font-family: "Helvetica", "Trebuchet MS", sans-serif;
    gap: 0px 0px;
}

.bunnyNode .body {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 0px 0px;
}

.bunnyNode .body .heading {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.bunnyNode .mainTitle {
    background-color: var(--main-color);
    border-radius: 6px;
    border-style: none;
    box-sizing: border-box;
    color: var(--text-color-main);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 10px 16px;
    transition: all 120ms;
    transition-timing-function: ease-in-out;
}

.bunnyNode .title {
    background-color: var(--main-color);
    border-radius: 6px;
    border-style: none;
    box-sizing: border-box;
    color: var(--text-color-main);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 10px 16px;
    transition: all 120ms;
    transition-timing-function: ease-in-out;
}

.bunnyNode .title:hover {
    cursor: grab;
}

.bunnyNode .title:active {
    cursor: grabbing;
}

.bunnyNode .url {
    background-color: var(--accent-color);
    border-radius: 6px;
    border-style: none;
    box-sizing: border-box;
    color: var(--text-color-accent);
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 6px 16px;
    transition: all 120ms;
    transition-timing-function: ease-in-out;
}

.bunnyNode .input {
    background-color: var(--input-color);
    border: 0;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, var(--main-color), var(--main-color-alt));
    border-image-slice: 1;
    border-radius: 6px;
    color: var(--text-color-input);
    font-family: "Helvetica", "Trebuchet MS", sans-serif;
    font-size: 16px;
    outline: 0;
    padding: 6px 16px;
    transition: all 120ms;
    transition-timing-function: ease-in-out;
}

.bunnyNode .buttonBar {
    margin-bottom: 0px;
    opacity: 0;
    padding: 5px 8px;
    transition: all 300ms;
    transform: translateX(-100%);
}

.bunnyNode:hover .buttonBar {
    opacity: 1;
    transform: translateX(0%);
}

.nodeButton {
    /* animation: reveal 0.5s forwards;
    -webkit-animation: reveal 0.5s forwards; */
    transition: all 120ms;
}

.nodeButton:hover {
    transform: scale(1.2, 1.2)
}

.nodeButton:active {
    transform: scale(0.9, 0.9) rotate(-10deg);
}

.bunnyNode .nodeSeparator {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.nodeSeparator .repositionButton {
    /* animation: reveal 0.5s forwards;
    -webkit-animation: reveal 0.5s forwards; */
    transition: all 120ms;
}

.nodeSeparator .addButton {
    /* animation: reveal 0.5s forwards;
    -webkit-animation: reveal 0.5s forwards; */
    transition: all 120ms;
}

.nodeSeparator:not(.repositionActive) .repositionButton {
    display: none;
    flex: 1 0 auto;
}

.nodeSeparator:not(.repositionActive) .addButton {
    display: inherit;
    flex: 1 0 auto;
}

.nodeSeparator:is(.repositionActive) .repositionButton,
.nodeSeparator:is(.repositionTarget) .repositionButton {
    display: inherit;
    flex: 1 0 auto;
}

.nodeSeparator:is(.repositionActive) .addButton,
.nodeSeparator:is(.repositionTarget) .addButton {
    display: none;
    flex: 1 0 auto;
}

.nodeSeparator:is(.repositionActive):hover .repositionButton {
    transform: scale(1.2, 1.2)
}

.nodeSeparator:is(.repositionActive):active .repositionButton {
    transform: scale(0.9, 0.9) rotate(-10deg);
}

.nodeSeparator:not(.repositionActive):hover .addButton {
    transform: scale(1.2, 1.2)
}

.nodeSeparator:not(.repositionActive):active .addButton {
    transform: scale(0.9, 0.9) rotate(-10deg);
}

.nodeSeparator .divider {
    border-color: #000000;
    border-top: 2px dotted;
    flex: 1 1 auto;
    height: 5px;
    margin: 10px 0px;
    /* animation: reveal 0.5s forwards;
    -webkit-animation: reveal 0.5s forwards; */
    transition: all 120ms;
    width: 100%;
}

.nodeSeparator:is(.repositionActive):hover .divider,
.nodeSeparator:is(.repositionTarget) .divider {
    border-top: 8px dashed;
    border-color: #0000ff;
    flex: 1 1 auto;
    height: 5px;
    margin: 10px 0px;
    width: 100%;
}

@keyframes reveal {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}

@-webkit-keyframes reveal {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}