:root {
    --squash-percent-Y: 0.95;
    --squash-percent-X: calc(1.0 / var(--squash-percent-Y)) 
}

.bhButton {
    border-radius: 6px;
    border-style: none;
    box-shadow: 0px 5px 5px #222222;
    box-sizing: border-box;
    cursor: pointer;
    font-family: var(--font-family-1), var(--font-family-2), var(--font-family-3);
    font-size: 16px;
    font-weight: bold;
    padding: 10px 16px;
    transition: all 120ms;
    transition-timing-function: ease-in-out;
}

.bhButton:active {
    box-shadow: 0px 1px 1px #000000;
    transform: scaleX(var(--squash-percent-X)) scaleY(var(--squash-percent-Y)) translateY(5px);
}

.bhButton.standard {
    background-color: var(--accent-color);
    color: var(--accent-color-text);
}

.bhButton.standard:hover {
    background-color: var(--main-color-alt);
    color: var(--accent-color-text);
}

.bhButton.dangerous {
    background-color: var(--cancel-color);
    color: var(--cancel-color-text);
}

.bhButton.dangerous:hover {
    background-color: var(--cancel-color-alt);
    color: var(--cancel-color-text);
}