:root {
    --tooltip-width: 100px;
    --tooltop-margin: calc(var(--tooltip-width) / -2.0);
}

.tooltip {
    display: inline-block;
    font-family: "Helvetica", "Trebuchet MS", sans-serif;
    position: relative;
}

.tooltip .text {
    background-color: var(--tooltip-color);
    border-radius: 6px;
    color: #eeeeee;
    font-weight: bold;
    margin-left: var(--tooltop-margin);
    padding: 6px 2px;
    position: absolute;
    text-align: center;
    visibility: hidden;
    width: var(--tooltip-width);
    z-index: 3;
}

.tooltip.above .text {
    bottom: 100%;
    left: 50%;
}

.tooltip.below .text {
    top: 100%;
    left: 50%;
}

.tooltip:hover .text {
    visibility: visible;
}

.tooltip.above .text::after {
    border-width: 5px;
    border-style: solid;
    border-color: var(--tooltip-color) transparent transparent transparent;
    content: "";
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: 100%;
}

.tooltip.below .text::after {
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--tooltip-color) transparent;
    bottom: 100%;
    content: "";
    left: 50%;
    margin-left: -5px;
    position: absolute;
}